
.wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.logo {
  display: inline-block;
  background: url(../images/logo.png) left center no-repeat;
  
  width: 181px;
  height: 46px;
  margin-bottom: 6px;
}
.subtitle {
  font-weight: 700;
}
img {
  padding-left: 3px;
  margin: 5% 0 0;
  width: 70%;
  max-width: 400px;

}
.text {
  margin: 1% 10%;
}

form {
  margin-top: 3%;
}
input {
  max-width: 274px;
  width: 100%;
  height: 46px;
  margin: 3% 0 1em 0;
  font-size: 16px;
  padding-left: 14px;
}

button {
  color: white;
  background-color: #FF3366;
  border: none;
  height: 52px;
  width: 100%;
  max-width: 238px;
  font-size: 16px;
}
.disclaimer {
  color: #5F646A;
  padding: 2% 16%;
  font-size: 13px;
}
html {
  font-family: proxima-nova, 'Proxima Nova', 'Helvetica', sans-serif;
  color: white;
  text-align: center;
  background: url(../images/background.png) bottom center no-repeat; 
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  height: 100%;
}

