$content-editor-width: 565px
$top-margin: 18px
$editor-canvas-width: calc(100% - #{$content-editor-width})
$editor-canvas-color: gray
$categories-width: 170px
$categories-bg-color: lightgray
$items-width: calc(#{$content-editor-width} - #{$categories-width})
$tags-height: 69px

$header-height: 73px
$header-color: #68c4de

.header
	width: 100%
	height: $header-height
	background-color: $header-color

.editor
	height: 100%
	.content-editor
		position: absolute
		float: left
		height: 100%
		background-color: #F1F1F1
		width: $content-editor-width

		.categories
			width: $categories-width
			height: 100%
			bottom: 0
			left: 0
			top: 40
			background-color: $categories-bg-color

		.content-container
			width: $items-width

			.filter-container
				ul.filter
			
			.content-list
				width: 100%
				height: 69px
				.element


	.editor-canvas
		position: relative
		width: $editor-canvas-width
		background-color: #FFFFFF

		.canvas-container
			margin-left: auto
			margin-right: auto
			margin-top: $top-margin

		#canvas
			background-color: $editor-canvas-color


		