$content-editor-width: 648px
$content-editor-height: 840px
$content-list-height: 570px
$top-margin: 18px
$editor-canvas-width: calc(100% - #{$content-editor-width})
$editor-canvas-color: #F1F1F1
$categories-width: 170px
$categories-bg-color: lightgray
$items-width: calc(#{$content-editor-width} - #{$categories-width})
$tags-height: 69px
$globalfont: Proxima Nova, Helvetica
$font-color: #8A959E
$phone-width: 280px

$header-height: 60px
$header-color: #FFFFFF
$application-height: calc(100% - #{$header-height})

.header
	width: 100%
	height: $header-height
	background-color: $header-color
	color: black
	font-family: $globalfont
	line-height: 60px
	.caption
		float: left
		margin-left: 15px
	.logo 
		text-align: center
		margin-right: 120px
	.nav
		position: absolute
		right: 0
		top: 0
		li
			margin-right: 25px
			display: inline-block
		a
			color: white
.clear
	width: 1200px
	height: 15px
	position: absolute
	top: 60px
	right: 0px
	background-color: #f2f2f2
.application
	width: 100%
	.content-editor
		position: absolute
		float: left
		height: $content-editor-height
		background-color: #F1F1F1
		width: $content-editor-width

		.categories
			background-color: #F0EEEE
			position: absolute
			height: 100%

			li 
				width: 140px
				text-align: center
				height: 140px


				text-transform: uppercase
				font-size: 14px
				color: $font-color
				font-family: $globalfont

				
				img
					height: 43px

					
		
			li.active
				background-color: #D3D3D3
				img
				
			
			li:last-child
				padding-top: 40px
		

		.content-container
			width: $items-width
			background-color: #f2f2f2
			position: absolute
			left: 140px

			.filter-container
				background-color: white
				width: 490px
				height: 100px
				margin: 15px
				color: $font-color
				font-family: $globalfont
				font-size: 18px
				
				.filters
					width: 100%
					height: 100%
					overflow: hidden
					padding-left: 20px
					padding-top: 18px

					.filter
						display: inline
						width: 33.33%
						float: left

			.content-list
				background-color: white
				margin: 0 15px
				width: 490px
				min-height: $content-list-height
				max-height: $content-list-height
				overflow: scroll
				overflow-x: hidden

				li
					display: inline-block
					margin: 30px

				.element-image
					width: 100px
	.editor-canvas
		float: right  
		width: $editor-canvas-width
		height: $content-editor-height
		overflow: hidden
		background-color: $editor-canvas-color

		.edit-toolbar
			position: relative
			float: left
			margin: 15px 10px 10px 10px 
			padding: 5px 
			background-color: #FFFFFF

		.underlay
			width: $phone-width
			padding-top: 10px
			margin: 0px auto 0 auto

			.phone-img
				width: $phone-width
				position: absolute
				z-index: 1

			.canvas-container
				position: relative
				z-index: 20   
				margin-left: 20px
				margin-top: 60px

		.download-button
			margin: 90px auto auto
			background-color: #FF3366
			width: 200px
			height: 40px
			padding: 7px
			text-align: center
			a
				margin-top: 50px
				color: white
				font-size: 16px
		


		.guidelines
			text-align: center
			color: $font-color
			margin-top: 20px
			a
				color: #4DB0E9


	.right 
		
		float: none  
		width: 380px
		overflow: hidden
		margin-left: auto
		margin-right: auto
		position: relative
		left: 20px
		z-index: -10
		img
			width: 380px
			padding-left: 30px
			padding-top: 30px

			@media screen and (max-width: 960px)
				display: none
		button
			padding: 10px 50px 10px 50px
			margin-left: 120px
			background-color: #68c4de
			font-family: $globalfont

	



		